.btng {
    width: 250px;
    height: 60px;
    background-color: orangered;
    border: 1px solid black;
    text-align: center;
    border-radius: 2%;
    padding: 1%;
}

.btn2 {
    width: 124px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 8%;
    padding: 8px;
}

.btn {
    width: 50px;
    border: orange;
    color: black;
    background-color: orange;
    margin: 2%;
    border-radius: 2%;
}

.btnc {
    width: 81px;
    border: 1px solid black;
    color: black;
    background-color: orange;
    border-radius: 8%;
}